[default]
export TEST_DEV=/dev/sdb
export TEST_DIR=/mnt/test
export SCRATCH_DEV=/dev/sdc
export SCRATCH_MNT=/mnt/scratch

[dax]
export SCRATCH_DEV=/dev/pmem0

[trim]
export SCRATCH_DEV=/dev/sde

[logwrites]
export LOGWRITES_DEV=/dev/sde

[logwrites_dax]
export SCRATCH_DEV=/dev/pmem0
export LOGWRITES_DEV=/dev/sde

[external]
export SCRATCH_LOGDEV=/dev/sdd
export SCRATCH_RTDEV=/dev/sde
export USE_EXTERNAL=yes