[default]
export TEST_DEV=/dev/sdb
export TEST_DIR=/mnt/test
export SCRATCH_DEV=/dev/sdc
export SCRATCH_MNT=/mnt/scratch

[trim]
export SCRATCH_DEV=/dev/sde

[dax]
export SCRATCH_DEV=/dev/pmem0

[logwrites]
export LOGWRITES_DEV=/dev/sde

[logwrites_dax]
export LOGWRITES_DEV=/dev/pmem0

[external]
export LOGWRITES_DEV=/dev/sde
export SCRATCH_LOGDEV=/dev/sdd
export USE_EXTERNAL=yes

[full]
MKFS_OPTIONS="-O sparse_super,large_file,filetype,resize_inode,dir_index,ext_attr,bigalloc,fast_commit,mmp,verity,encrypt,stable_inodes,has_journal,extent,huge_file,flex_bg,metadata_csum,64bit,dir_nlink,extra_isize,inline_data"
